<aside class="col-2 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Navigation
        </div>
        <div class="card-body">
            <p><a href="{{ path('home') }}">Retour sur site marchand</a></p>
            <p><a href="{{ path('app_admin_index') }}">Portail administrateur</a></p>
            <p><a href="{{ path('app_register') }}">Ajout administrateur</a></p>
            <p><a href="{{ path('app_logout') }}">Deconnexion</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Mobile-homes
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_admin_mobil_addMobil')}}">Ajouter unMobilhome</a></p>
        </div>
    </article>
   
    <article class="card mb-3">
        <div class="card-header">
            Prises de contact
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_contacts')}}">Tableau de bord Messages </a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="card-header">
            Statistiques du site
        </div>
        <div class="card-body">
            à venir*
        </div>
    </article>

    <article class="card mb-3">
        <div class="card-header">
            Produit phare
        </div>
        <div class="card-body">
            à venir*
        </div>
    </article>
</aside>